/* limpiar y normalizar los estilos por defecto que los navegadores web aplican a todos los elementos de la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* para hacer que 1rem equivalga exactamente 10 píxeles */
html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.6rem;
    background-color: #fff1d5;
    color: #26170b;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;

    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.15;
    margin: 3rem 0;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 3rem 0;
}

.btn {
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem;
    border-radius: 1rem;
    color: #f1b747;
    background-color: #26170b;
}

.btn:hover {
    cursor: pointer;
    background-color: #f1b747;
    color: #26170b;
}

header,
footer {
    background: #26170b;
    color:#f1b747;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding: 1rem 4rem;
}

.div-logo {
    font-family: "Cinzel", sans-serif;
}

.logo,
.header-nav a {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.header-nav li:hover {
    cursor: pointer;
    background-color: #f1b747;
    color: #26170b;
}

nav ul {
    list-style: none;
    display: flex;
}

.footer-list img {
  width: 4rem;
  padding: 0.5rem;
}

.footer-list li {
  padding: 1rem;
  cursor: pointer;
}

/* inicio */
.titulo {
    font-size: 3.5rem;
    font-family: "Cinzel", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    text-align: center;
}

.parrafo {
    font-size: 2rem;
    color: #5e4735;
    max-width: 60vw;
    margin: 0 auto;
    text-align: center;
    line-height: 1.9;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 30rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
}

.card img {
    width: 20rem;
    border-radius: 2rem;
    object-fit: cover;
}

/* pagina de contacto */
.card-consulta {
    width: 50rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
    
}

.card-consulta a {
    text-decoration: none;
    font-size: 1.6rem;
    color: inherit;
}

.card-consulta a:hover {
    color: #f1b747;
    text-decoration: underline;
}

.form-group {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-label {
    width: 100%;
    text-align: left;
    color: #26170b;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: #26170b;
    background-color: #fffaf0;
    border: 1px solid #ebd7bd;
    border-radius: 1.2rem;
    outline: none;
}

.form-input {
    height: 5rem;
}

.form-textarea {
    height: 10rem;
    resize: none;
}

iframe {
    border-radius: 2rem;
    margin-top: 2rem;
}

/* media queries. pantalla se adapta a partir de 768px */
@media (max-width: 768px) {
    
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-logo {
    width: 100%;
    text-align: center;
  }

  .header-nav {
    width: 100%;
  }

  .header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
  }

  .header-nav li {
    width: auto;
    text-align: center;
  }

  /* Cajas apiladas en columna */
  .contenedor-tarjetas {
    flex-direction: column;
    align-items: center;
    padding: 0;
    }
}